<!-- templates/yourapp/your_model_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Board site</title>
</head>
<body>
    <h2>Board Posts</h2>
    
    <a href="{% url 'message-post' %}">Create new post</a>

    <!-- Display the list of objects -->
    <ul>
        {% for object in object_list %}
            <img src="{{ object.image }}" width="200" alt="">
            <p>{{ object.content | safe }}</p>

            {% if request.user == object.owner %}
                <form action="{% url 'message-delete' pk=object.pk %}" method="post">
                    <input type="submit" value="Delete">
                </form>
            {% endif %}
        {% endfor %}
    </ul>


</body>
</html>
